.downloads a{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transition-duration: 0.4s;
}

.downloads b {
    color: rgb(86, 235, 255);
}

.downloads a:hover {
    font-size: 60px;
}